@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}
h1{
  text-align: center;
  
}
.wrapper {
  display:flex;
  justify-content: space-around;
 
}

.container {
  max-width: 100%;
}
.logos {
    width: 10em;
}
.main {
  display: flex;
 
  }
  .brands {
    width: 40%;
   
  }
.brand-card {
  border: 1px solid  rgb(133, 191, 196);
  border-radius: 10%;
  box-shadow: 5px 5px  rgb(133, 191, 196);
  margin: 5rem auto;
  width: 30%;
  height: 20rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.recipe-card {
    width: 30%;
    padding: 0 30px;
    border-radius: 10%;
    box-shadow: 5px 5px  rgb(133, 191, 196);
}
.checkout {
  border: 1px solid  rgb(133, 191, 196);
  border-radius: 10%;
  box-shadow: 5px 5px  rgb(133, 191, 196);
  margin: 5rem auto;
  width: 30%;
  height: 20rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
