.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container{
  margin-top: 30px;
}

.radio {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  width: 200px;
}

.checkboxes-list {
  display: flex;
  justify-content:flex-start;
}