.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  background-color: rgb(169, 148, 189);
  margin-top: 100px;
  width: 150px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.title-text {
    color: white;
}
